html
{
  scroll-behavior: smooth;
}
:root
{
  --dark_blue: #001A30;
  --blue_var: #94DBD8;
  --orange_var: #EFA974;
  --blue: #63CCC8;
  --orange: #F89766;
  --yellow: #FFEEE0;
  --white: #FFFFFF;
  --black: #000000;
  --dark_grey: #868686;
  --light_grey: #C0C0C0;
  --bgl_grey: #F8F9FA;
  --bgm_grey: #F6F6F6;
  --bgd_grey: #EAEAEA;
}

@font-face
{
  font-family: 'Comfortaa';
  src: url('resources/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Avenir Next';
  src: url('resources/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Avenir Next';
  src: url('resources/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face
{
  font-family: 'Avenir Next';
  src: url('resources/fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('resources/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

*,
*:before,
*:after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------setting up the body------ */
body
{
  margin: 0;
  overflow-x: hidden;
  color: var(--dark_blue);
  background-color: var(--bgd_grey);
  font-family: Comfortaa;
  display: grid;
  text-rendering: optimizeLegibility;
}

/* ------navigation bar------ */
#navigation
{
  font-family: Ubuntu;
  padding: 0.5rem 1rem;
  height: fit-content;
  background-color: var(--dark_blue)!important;
}

#navigation ul { margin: 0px; }

#dropdown
{
  background-color: var(--dark_blue);
  color: var(--white);
}

#dropdown_item { color: rgba(255,255,255,.55); }

#dropdown_item:hover
{
  color: rgba(255,255,255,.75);
  background-color: transparent;
}

#icon_nav { opacity: .55; }

#icon_nav:hover { opacity: .75; }

.icons { display: inline-block; }
.linkedin { display: inline-block; transform: translateY(-8%); }
.dribbble { display: inline-block; transform: translateY(-6%); }
.redbubble { display: inline-block; transform: translateY(-6%); }

@media (max-width: 992px)   /* adjust on small and medium screens */
{
  .linkedin
  {
    width: fit-content;
    transform: translateY(0%);
    margin-right: 20px;
  }
  .dribbble
  {
    width: fit-content;
    transform: translateY(0%);
    margin-right: 20px;
  }
  .redbubble
  {
    width: fit-content;
    transform: translateY(0%);
    margin-right: 20px;
  }
}

#burger {border: none;}

/* erase border on click from burger */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* ------landing page header------ */
#home
{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: block;
  height: 100%;
  top: 0px;
  right: 0;
  color: var(--white);
}

#home .container
{
  transition: 0.8s all cubic-bezier(0.61,0.21,0.49,0.99);
  display: flex;
  min-height: 600px;
  height: auto;
  padding-top: 220px;
  padding-bottom: 220px;
  align-items: flex-start;
}

@media (max-width: 768px)   /* adjust on small screens */
{
  #home .container
  {
    min-height: 450px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

#welcome_title
{
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 130px;
  line-height: 90%;
}

@media (max-width: 768px)   /* adjust on small screens */
{
  #welcome_title
  {
    font-size: 50px;
    line-height: 110%;
  }
}

/* ------ project links ------ */
.box
{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 125px;
}

.box a
{
  width: 100%;
  line-height: 125px;
}

#professional_projects
{
  border-radius: 0 0 0 25px;
  background-color: var(--blue_var);
  transition: all 0.5s;
}

#personal_projects
{
  border-radius: 0 0 25px 0;
  background-color: var(--orange_var);
  transition: all 0.5s;
}

@media (max-width: 992px)   /* adjust on small and medium screens */
{
  #professional_projects { border-radius: 0 0 0 0; }
  #personal_projects { border-radius: 0 0 25px 25px; }
}

#professional_projects:hover
{
  background-color: var(--blue);
  transition: all 0.5s;
  cursor: pointer;
}

#personal_projects:hover
{
  background-color: var(--orange);
  transition: all 0.5s;
  cursor: pointer;
}

/*------ styling the underlining ------*/
.custom-underline
{
  position: relative;
  display: inline-block;
  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active
{
  color: var(--dark_blue);
  text-decoration: none;
}

.custom-underline::after
{
  content: "";
  position: absolute;
}

.box .custom-underline::after   /*--- underlining before hover ---*/
{
  top: 60%;
  height: 1.5px !important;
  width: 0%;
  left: 50%;
  background-color: var(--dark_blue);
  transition: 0.4s ease-out all .1s;
}

.box:hover .custom-underline::after   /*--- underlining after hover ---*/
{
  width: 40%;
  left: 30%;
  transition: 0.5s ease all;
}

/* ------skills------ */
#skills { background-color: var(--bgl_grey); }

.st1 { fill: var(--dark_blue); }

.luna { width: 100%; }

.luna_box
{
  width: 20px;
  height: 20px;
}

.luna_cat
{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------about me------ */
#about { background-color: var(--white); }

/* ------back to top------ */
#back_to_top
{
  overflow-x: hidden;
  background-color: inherit;
}

.btt:hover
{
  color: var(--blue);
  cursor: pointer;
}

/* ------generic text formatting------ */
.title
{
  font-family: Ubuntu;
  font-weight: 500;
}

.subtitle
{
  font-family: Ubuntu;
  font-weight: 400;
}

.description { font-size: 0.9rem; }

.section_intro
{
  text-align: center;
}

/* ------generic backgrounds------ */
.white-bg { background-color: var(--white); }

/* ------personal projects - gallery formatting------ */
#pers_card   /* modification of original bootstrap class */
{
  display: inline-block;
  border-radius: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card_title
{
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 992px)   /* adjust on large screens */
{
  .card_title
  {
    margin-bottom: 2px;
  }
}

#images-wrapper
{
  /* line-height: 0; */
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.img-wrapper-card
{
  width: 100% !important;
  height: auto !important;
}

.img-wrapper-card p { font-size: 12px; }

@media (max-width: 992px)   /* adjust on small and medium screens */
{
  #images-wrapper
  {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}

@media (max-width: 768px)   /* adjust on small screens */
{
  #images-wrapper
  {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

/* ------professional projects - gallery formatting------ */
#profess_card
{
  border: none;
  border-radius: 0 0 0 0;
}

#pro_pic { border-radius: 0 0 0 0; }

@media (min-width: 992px)   /* adjust medium and large screens */
{
  #profess_card { flex-direction: row; }
  #pro_pic { width: 50%; }
  #pro_text { width: 50%; }
}

#button
{
  font-family: Ubuntu;
  color: var(--white);
  background-color: var(--dark_blue);
  border: none;
}

#button:hover
{
  background-color: var(--blue);
}

.pro_title
{
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

.pro_intro
{
  font-size: 14px;
  line-height: 150%;
  display: inline-block;

}

.pro_description
{
  font-size: 14px;
  line-height: 150%;
  display: flex;
  text-align: center;
}

@media (max-width: 768px)   /* adjust on small screens */
{
  .pro_title
  {
    font-size: 24px;
    line-height: 125%;
  }
  .pro_description
  {
    font-size: 12px;
  }

}

#pro_img
{
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 10px var(--dark_grey);
}

.video
{
  height: 30vw;
}

@media (max-width: 992px)   /* adjust on small and medium screens */
{
  .video { height: 25vw; }
}
@media (max-width: 768px)   /* adjust on small screens */
{
  .video { height: 50vw; }
}

/* ------professional projects - vr------ */
.vr_title
{
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
}

.vr_description
{
  font-size: 14px;
  line-height: 150%;
  display: inline-block;
  text-align: justify;
}

@media (max-width: 768px)   /* adjust on small screens */
{
  .vr_title
  {
    font-size: 18px;
    line-height: 150%;
  }
  .vr_description
  {
    font-size: 12px;
  }

}

.vr_video
{
  height: 25vw;
}

@media (max-width: 992px)   /* adjust on small and medium screens */
{
  .vr_video { height: 25vw; }
}
@media (max-width: 768px)   /* adjust on small screens */
{
  .vr_video { height: 50vw; }
}
