html
{
  scroll-behavior: smooth;
}
:root
{
  --sidebar_blue: #053A42;
  --bright_blue: #63A4A8;
  --dark_blue: #090821;
  --grey: #A7A4A8;
  --white: #F5F0F6;
  --hover: #ffffff;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('resources/fonts/montserrat/Montserrat-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Montserrat_Bold';
  src: url('resources/fonts/montserrat/Montserrat-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* setting up the background and its size */
body
{
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark_blue);
}

.full_screen
{
  width: 100%;
  height: 100vh;
}

/* setting up the outer params of the sidebar */
#sidebar
{
  position: fixed;
  display: block;
  width: 15vw;
  margin-right: 5vw;
  min-width: 200px;
  height: 100vh;
  background: var(--sidebar_blue);
  font-family: 'Montserrat';
}

#sidebar_inner
{
  margin-top: 7vh;
  margin-left: 1em;
  margin-right: 1em;
}

/* "Natalie Van Maerssen" in sidebar */
#sidebar h1
{
  color: var(--bright_blue);
  font-weight: 400;
  font-size: 1.8em;
}

/* "Work" and "About" tabs in sidebar */
.second_header
{
  color: var(--bright_blue);
  font-family: 'Montserrat_Bold';
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* so that you hover over the word, not the whole line */
.second_header_inner
{
  display: inline-block;
}

/* changing the color and cursor when you hover */
.second_header_inner:hover
{
  color: var(--hover);
  cursor: pointer;
}

/* the sub-categories of "work" and "about" tabs in sidebar */
.third_header
{
  color: var(--grey);
  font-weight: 200;
  font-size: 0.8em;
  margin-left: 1em;
  margin-top: 0vh;
  margin-bottom: 2vh;
}

/* so that you hover over the word, not the whole line */
.third_header_inner
{
  display: inline-block;
}

/* changing the color and cursor when you hover */
.third_header_inner:hover
{
  color: var(--hover);
  cursor: pointer;
}

/* changing what the icons in the sidebar look like (e.g. linkedin) */
.icons
{
  fill: var(--grey);
  height: 1.5em;
  width: auto;
}

/* changing the color of the icons when you hover over them */
.icons:hover
{
  fill: var(--hover);
  cursor: pointer;
}

/* adding margins around the group of icons */
.icons_div
{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.main
{
  position: absolute;
  left: 20vw;
  display: block;
  width: 80vw;
  height: 100vh;
  align-self: right;
}

/* class given to each viewable page */
/* size of page (excluding fixed sidebar) determined here */
.main_view
{
  width: 70vw;
  position: absolute;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 9vw;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--white);
}

.gallery
{
  position: fixed;
  width: 80vw;
  height: 100vw;
}

/* main page, accessible by clicking on "work" tab in sidebar */
#gallery_inner
{
  font-weight: 200;
  font-size: 0.8em;
}

/* each individual subtab/picture of "work" (e.g. vr, vector art, etc) */
.gallery_category
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
  display: inline-block;
}



/* to make each block a little darker when you hover over it */
.gallery_category:hover
{
  filter: brightness(0.8);
  cursor: pointer;
}

/* set the images of each block */
#vr_img { background-image: url("resources/images/gallery/vr.png"); }
#photo_img { background-image: url("resources/images/gallery/photo.png"); }
#cs_img { background-image: url("resources/images/gallery/cs.png"); }
#dig_img { background-image: url("resources/images/gallery/dig.png"); }

/* prevent stretching when the window size changes */
.category_image
{
  width: 30vw;
  min-width: 300px;
  height: 50vh;
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

/* center the text under each block's category (e.g. vr, csor art, etc) */
.text
{
  text-align: center;
  font-size: 1.1em;
}

/* specify what back to top button should look like and give it margins */
.back_to_top
{
  position:relative;
  margin-top: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 8vh;
  height: 7vh;
}

/* give the actual button style */
.back_to_top button
{
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  background-color: inherit;
  color: var(--white);
  font-family: 'Montserrat';
  font-size: 1.2em;
  text-align: center;
}

/* so that you hover over the button, not the whole width of the div */
.back_to_top_inner
{
  display: inline-block;
}

/* format the arrow up */
.back_to_top_inner p
{
  margin: 0;
  font-size: 2em;
}

/* change the color when you hover over the button */
.back_to_top_inner:hover
{
  color: var(--bright_blue);
  cursor: pointer;
}

#vr_portfolio
{
  /* background-color: inherit;
  height: 200px; */
}

.vr_project_outer
{
  margin: 2em;
  display: inline-block;
}

.vr_project_inner
{
  display: block;
}

.iframes
{
  display: inline-block;
  border: none;
  margin-right: 2em;
  margin-bottom: 1em;
  width: 40vw;
  height: 315px;
}

.description
{
  display: table-cell;
  width: 25vw;
  height: 315px;
  position: relative;
  vertical-align: middle;
  text-align: left;
  margin-right: 4em;
  color: var(--grey);
}

#mod_portfolio
{
  background-color: var(--white);
  height: 200px;
}

#photo_portfolio
{
  background-color: #F00;
  height: 200px;
}

#cs_portfolio
{
  background-color: #F00;
  height: 200px;
}

#dig_portfolio
{
  background-color: #F00;
  height: 200px;
}

.hide
{
  display: none;
}

@media screen and (max-width: 992px)
{
  .headers
  {
    display: none;
  }
  #sidebar
  {
    position: relative;
    background: none;
    height: auto;
    width: 100%;
  }
  #sidebar_inner
  {
    margin-top: 5vh;
    margin-left: 3vw;
  }
  .main
  {
    left: 0vw;
    display: block;
    width: 100vw;
    height: 100vh;
  }
  .main_view
  {
    width: 94vw;
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .category_image
  {
    width: 50vw;
    min-width: 150px;
    height: 30vh;
    min-height: 150px;
  }
  .vr_project_outer
  {
    width: 560px;
    height: 315px;
  }
  .iframes
  {
    display: inline-block;
    margin-right: none;
    margin-bottom: 1em;
    width: 560px;
    height: 315px;
  }

  .description
  {
    display: block;
    width: 560px;
    position: relative;
  }
}
