html
{
  scroll-behavior: smooth;
}
:root
{
  --dark_blue: #090821;
  --blue: #63A4A8;
  --grey: #A7A4A8;
  --white: #F5F0F6;
  --hover: #ffffff;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('resources/fonts/montserrat/Montserrat-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Montserrat_Bold';
  src: url('resources/fonts/montserrat/Montserrat-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* setting up the background and its size */
body
{
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark_blue);
}

/* setting up the outer params of the sidebar */
#sidebar
{
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 20vw;
  height: 80vh;
  color: var(--white);
  font-family: 'Montserrat';
}

/* "Natalie Van Maerssen" in sidebar */
#sidebar h1
{
  color: var(--blue);
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 8vh;
}

/* "Work" and "Personal info" tabs in sidebar */
.second_header
{
  color: var(--blue);
  font-family: 'Montserrat_Bold';
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* so that you hover over the word, not the whole line */
.second_header_inner
{
  display: inline-block;
}

/* changing the color and cursor when you hover */
.second_header_inner:hover
{
  color: var(--hover);
  cursor: pointer;
}

/* the sub-categories of "work" and "personal info" tabs in sidebar */
.third_header
{
  color: var(--grey);
  font-weight: 200;
  font-size: 0.8em;
  margin-top: 0vh;
  margin-bottom: 2vh;
}

/* so that you hover over the word, not the whole line */
.third_header_inner
{
  display: inline-block;
}

/* changing the color and cursor when you hover */
.third_header_inner:hover
{
  color: var(--hover);
  cursor: pointer;
}

/* changing what the icons in the sidebar look like (e.g. linkedin) */
.icons
{
  fill: var(--grey);
  height: 1.5em;
  width: auto;
}

/* changing the color of the icons when you hover over them */
.icons:hover
{
  fill: var(--hover);
  cursor: pointer;
}

/* adding margins around the group of icons */
.icons_div
{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

/* class given to each viewable page */
/* size of page (excluding fixed sidebar) determined here */
.main_view
{
  width: 70vw;
  position: absolute;
  top: 5vh;
  right: 7vw;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--white);
}

/* main page, accessible by clicking on "work" tab in sidebar */
#gallery
{
  font-weight: 200;
  font-size: 0.8em;
}

/* each individual subtab/picture of "work" (e.g. vr, vector art, etc) */
.gallery_category
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
  display: inline-block;
}

/* the image seen in each of the gallery_category blocks */
.gallery_category img
{
  width: 30vw;
  height: 55vh;
}

/* to make each block a little darker when you hover over it */
.gallery_category:hover
{
  filter: brightness(0.8);
  cursor: pointer;
}

/* set the images of each block */
#vr_img { background-image: url("resources/images/gallery/vr.jpg"); }
#mod_img { background-image: url("resources/images/gallery/mod.jpg"); }
#photo_img { background-image: url("resources/images/gallery/photo.JPG"); }
#vect_img { background-image: url("resources/images/gallery/vect.png"); }
#dig_img { background-image: url("resources/images/gallery/dig.png"); }

/* prevent stretching when the window size changes */
.category_image
{
  width: 30vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

/* center the text under each block's category (e.g. vr, vector art, etc) */
.text
{
  text-align: center;
  font-size: 1.1em;
}

/* specify what back to top button should look like and give it margins */
.back_to_top
{
  position:relative;
  margin-top: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 8vh;
  height: 7vh;
}

/* give the actual button style */
.back_to_top button
{
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  background-color: inherit;
  color: var(--white);
  font-family: 'Montserrat';
  font-size: 1.2em;
  text-align: center;
}

/* so that you hover over the button, not the whole width of the div */
.back_to_top_inner
{
  display: inline-block;
}

/* format the arrow up */
.back_to_top_inner p
{
  margin: 0;
  font-size: 2em;
}

/* change the color when you hover over the button */
.back_to_top_inner:hover
{
  color: var(--blue);
  cursor: pointer;
}

#vr_portfolio
{
  /* background-color: inherit;
  height: 200px; */
}

.vr_project_outer
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
  display: block;
}

.vr_project_inner
{
  display: block;
}

.iframes
{
  display: inline-block;
}

.description
{
  display: inline-block;
  text-align: left;
  /* position: center; */
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
  margin-left: 2em;
  margin-right: 2em;
  /* width: 24vw;
  height: 10vh;
  max-width: 560px;
  max-height: 315px; */
}

#mod_portfolio
{
  background-color: var(--white);
  height: 200px;
}

#photo_portfolio
{
  background-color: #F00;
  height: 200px;
}

#vect_portfolio
{
  background-color: #F00;
  height: 200px;
}

#dig_portfolio
{
  background-color: #F00;
  height: 200px;
}

.hide
{
  display: none;
}
